@use "../presets" as *;
@use "../mixins" as *;

.imagination {
  background-color: $color-white;
}

.imagination__inner {
  padding: 80px 0 100px;

  @include lg-xx {
    padding: 40px 0 50px;
  }

  @include xx {
    padding: 25px 0 35px;
  }
}