@use "../presets" as *;
@use "../mixins" as *;

.imagination__content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 837px) {
    flex-direction: column;
  }

  @include xx {
    gap: 17px;
  }
}