@use "../presets" as *;
@use "../mixins" as *;

.abilities {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding: 80px 0;
  border-radius: 0px 0px 12px 12px;
  position: relative;

  @include lg-xx {
    padding: 40px 20px;
  }

  @include xx {
    padding: 40px 0 20px;
  }

  &::after {
    content: '';
    position: absolute;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
    bottom: -10px;
    width: 97%;
    background-color: #cacadb;
  }

  &::before {
    content: "";
    position: absolute;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
    bottom: -20px;
    width: 94.5%;
    background-color: #e7e7f2;
  }
}