@use "../presets" as *;
@use "../mixins" as *;

.services__text {
  max-width: 600px;
  padding-top: 50px;
  display: none;

  @media (max-width:1000px) and (min-width: 993px) {
    padding-top: 20px;
  }

  @media (max-width: 992px) and (min-width:593px) {
    min-height: 310px;
  }

  @media (max-width: 593px) and (min-width:544px) {
    min-height: 340px;
  }

  @media (max-width: 544px) and (min-width:474px) {
    min-height: 370px;
  }

  @media (max-width: 474px) and (min-width:420px) {
    min-height: 413px;
  }

  @include lg-xx {
    margin-bottom: 80px;
  }

  @include xx {
    margin-bottom: 20px;
    min-height: 410px;
    padding-top: 0;
  }
}

.services__heading {
  font-size: 32px;
  line-height: 2rem;
  color: $color-white;
  margin-bottom: 28px;

  @include xl-xx {
    margin-bottom: 18px;
  }

  @include lg-xx {
    font-size: 26px;
  }

  @include xx {
    font-size: 22px;
    line-height: 1.625rem;
    margin-bottom: $gap;
  }
}

.services__descr {
  font-size: 21px;
  line-height: 1.875rem;
  color: $color-white;

  @media (max-width:1200px) and (min-width: 474px) {
    font-size: 20px;
  }

  @media (max-width: 474px) and (min-width:434px) {
    font-size: 19px;
  }

  @media (max-width: 434px) {
    font-size: 18px;
    line-height: 1.625rem;
  }

}