@use "../presets" as *;
@use "../mixins" as *;

.service__option {
  font-size: 42px;
  line-height: 3.125rem;
  display: block;
  font-weight: 700;
  color: $color-gray-bg-text;
  cursor: pointer;
  text-align: right;
  padding-right: 40px;
}

.service__option+.service__option {
  padding-top: 20px;
}

.service__dot {
  display: none;
}

// gradient when checked
.service-dot-1:checked~.services__options-checks #serv-opt1 {
  @extend %slide-changer;
}

.service-dot-2:checked~.services__options-checks #serv-opt2 {
  @extend %slide-changer;
}

.service-dot-3:checked~.services__options-checks #serv-opt3 {
  @extend %slide-changer;
}

.service-dot-4:checked~.services__options-checks #serv-opt4 {
  @extend %slide-changer;
}

//text change when checked
.service-dot-1:checked~.services__slides #text1 {
  display: block;
}

.service-dot-2:checked~.services__slides #text2 {
  display: block;
}

.service-dot-3:checked~.services__slides #text3 {
  display: block;
}

.service-dot-4:checked~.services__slides #text4 {
  display: block;
}

//mobile dots change when ckecked
.service-dot-1:checked~.mobile-dots #mobile-opt1 {
  opacity: 1;
}

.service-dot-2:checked~.mobile-dots #mobile-opt2 {
  opacity: 1;
}

.service-dot-3:checked~.mobile-dots #mobile-opt3 {
  opacity: 1;
}

.service-dot-4:checked~.mobile-dots #mobile-opt4 {
  opacity: 1;
}