@use "../presets" as *;
@use "../mixins" as *;

.slide {
  display: flex;
  gap: 40px;
  background-color: $color-gray-bg;
  border-radius: 12px;

  @include lg {
    display: block;
    padding: 20px;
  }

  &__images {
    @include lg {
      display: none;
    }
  }

  &__text {
    padding-top: 40px;

    @include lg {
      padding: 0;
    }
  }

  &__links {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__quote {
    max-width: 827px;
    font-weight: 700;
    font-size: 42px;
    line-height: 3.125rem;
    background: #f0145a;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;

    @media (max-width: 1050px) {
      font-size: 36px;
      line-height: 2.68rem;
    }

    @include lg {
      margin-bottom: 10px;
    }

    @include xx {
      font-size: 32px;
      line-height: 2.375rem;
    }

  }

  &__author {
    color: $color-gray-bg-text;
    display: flex;
    gap: 10px;
    align-items: center;

    &-image {
      display: none;

      @include lg {
        display: block;
      }
    }
  }

  &__name {
    margin-bottom: 5px;
    font-size: 18px;
  }

  &__position {
    color: $color-gray-bg-text;
  }
}