@use "../presets" as *;
@use "../mixins" as *;

.quality {
  padding-bottom: 93px;

  @include xx {
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;

    @media (max-width: 837px) {
      gap: 30px;
      flex-direction: column-reverse;
    }

    @include xx {
      gap: 20px;
    }
  }

  &__caption {
    max-width: 414px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
    line-height: 3.125rem;

    @media (max-width: 960px) and (min-width: 420px) {
      font-size: 34px;
    }

    @include xx {
      font-size: 32px;
      line-height: 2.375rem;
    }

    @include xx {
      font-size: 33px;
      line-height: 2.375rem;
    }
  }

  &__text {
    font-size: 21px;
    line-height: 1.875rem;
    max-width: 641px;

    @include lg {
      max-width: 560px;
    }

    @media (max-width: 960px) and (min-width: 420px) {
      font-size: 19px;
    }

    @include xx {
      font-size: 18px;
      line-height: 1.625rem;
    }

    @include xx {
      font-size: 18px;
      line-height: 1.625rem;
    }
  }

  &__span {
    display: block;
    margin: 30px 0;

    @media (max-width: 837px) {
      margin: 25px 0;
    }

    @include xx {
      margin: 20px 0;
    }
  }
}