@use "../presets" as *;
@use "../mixins" as *;

.footer {
  background-color: $color-gray-bg;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 40px;
  border-top: 4px solid $color-gray-bg-separator;

  @media (max-width: 799px) {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px 0 100px;
  }
}