$color-primary: #323264;
$color-primary-alt: #323264;
$color-primary-soft: #686887;

$color-accent: #f0145a;
$color-accent-dark: #7a425e;

$color-active: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;

$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-bg-text: #b3b3ba;
$color-gray-bg-separator: #e6e6f0;
$color-gray-slider: #E6E6F0;

$color-black: #000000;
$color-white: #ffffff;

$liner-gradient: linear-gradient(42deg, $color-primary 51%, $color-accent-dark 87%);
$liner-gradient2: linear-gradient(180deg, transparent 17%, $color-primary 100%);