@use "../presets" as *;
@use "../mixins" as *;

.best__link {
  letter-spacing: 1px;
  color: $color-white;
  opacity: 0.5;
  margin-bottom: 3px;
  text-transform: uppercase;


  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.best__caption {
  max-width: max-content;
  margin-bottom: 68px;

  @include xx {
    margin-bottom: 20px;
  }
}