@use "../presets" as *;
@use "../mixins" as *;

.best__link {
  letter-spacing: 1px;
  color: $color-white;
  opacity: 0.5;
  margin-bottom: 3px;
  text-transform: uppercase;


  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.best__caption {
  font-size: 42px;
  color: #f0145a;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 68px;

  @include xx {
    font-size: 32px;
    line-height: 38px;
    padding: 0;
    min-width: calc(100vw - 40px);
    margin-bottom: 20px;
  }
}